/* src/components/FilterForm/FilterForm.module.css */
.form {
  display: flex;
  gap: 20px; /* espaçamento */
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: bold;
  color: var(--font-color); /* usando a variável da cor */
  margin-bottom: 5px;
}

.input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; /* ajuste de largura */
}