:root{
    background-color: var(--back-color);
    width: 100%;
    height: 100dvh;
    font-size: 22px;
}

.layout{
    display: flex;
    

    & .SideIcons{
        font-size: 22px;
    }

    & .LogoSenac{
        object-fit: cover;
        width: 300px;
        
    }

    & .SideTables{
        padding: 20px;  
        object-fit: cover;
        height: 50dvh;
        width: 25dvw;

        
    }

}