.FormImput {

      position: relative;

    & input{
        border-radius: 5px;
        padding: 20px;
        width: 400px;
        border: none;
      
    }

    .icon{
        position: absolute;
        
        right: 8px;
        top: calc(50% - (1rem/2));
        color: var(--back-color);
    }

}