*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --back-color: #0B0E4D;
  --font-color: white;
  --second-color: #CF9800;
  --element-color: #D9D9D9;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

